<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zy.androidlibrarycode">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".retrofit.RetrofitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".aidl.AidlActivity" />

        <service
            android:name=".aidl.CalcService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".closepermission.ClosePermissionActivity" />
        <activity android:name=".views.ViewTestActivity" />
        <activity android:name=".aes.AesActivity" />
        <activity android:name=".lifecycle.LifeCycleActivity" />
        <activity android:name=".web.TestWebActivity" /> <!-- tencent x5 页面 -->
        <activity
            android:name=".web.tencentx5.X5WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/WebViewTheme" />
        <activity
            android:name=".web.ByWebViewActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/WebViewTheme"
            tools:ignore="LockedOrientationActivity">

            <!-- 需要添加下面的intent-filter配置 -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 使用http，则只能打开http开头的网页 -->
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".viewstub.ViewStubActivity" />
        <activity android:name=".lru.DiskLruActivity" />
        <activity android:name=".lru.LruActivity" />
        <activity android:name=".applink.AppLinksActivity" />
        <activity android:name=".exception.ConcurrentModificationExceptionActivity" />
        <activity android:name=".bitmap.test.BitmapCompressActivity" />
        <activity android:name=".barcode.BarCodeActivity" />
        <activity android:name=".ninepic.NinePicActivity" />
        <activity android:name=".aop.ProxyActivity" />
        <activity android:name=".screenshot.ScreenShotActivity" />
        <activity android:name=".dagger.DaggerActivity" />
        <activity android:name=".goodlayout.GoodsNameActivity" />
        <activity android:name=".dynamiclayout.DynamicRecyclerActivity" />
        <activity android:name=".dynamiclayout.DynamicLayoutActivity" />
        <activity android:name=".fdleak.FDLeakSecondActivity" />
        <activity android:name=".fdleak.FDLeakActivity" />
        <activity android:name=".parcel.ParcelGetActivity" />
        <activity android:name=".parcel.ParcelActivity" />
        <activity android:name=".visibility.ViewVisibility2Activity" />
        <activity android:name=".visibility.ViewVisibilityActivity" />
        <activity android:name=".databinding.TestActivity" />
        <activity android:name=".databinding.DataBindingActivity" />
        <activity android:name=".arouter.ARouterJumpActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".fastjson.FastjsonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lombok.LombokActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".arouter.ARouterActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>